.container {
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.center-space {
  flex-direction: column;
  max-width: 70vw;
  max-height: 100vh;
  text-align: left;
  display: flex;
}

.text-area {
  position: absolute;
  top: 0px;
  left: 15vw;
  margin-top: 240px;
  margin-left: 180px;
  margin-right: 180px;
  max-height: 100vh;
  z-index: 1;
}

.title {
  font-size: 6.5vw;
  font-weight: bolder;
  margin: 0;
}
.sub-text {
  font-size: 1.6vw;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
}

.body-text {
  margin-top: 60px;
  font-size: 1.4vw;
  font-weight: lighter;
}

.snake-arena {
  /*MY SNAKE STUFF*/
  /*background-color: rgb(255, 255, 255);
  border-width: 1px;
  border-color: black;
  border-style: solid; 
  flex-direction: row;
  flex-wrap: wrap; */
  flex: 1;
  width: 800px;
  height: 500px;
  align-items: center;
  justify-content: center;
  margin: auto;
  display: flex;
  /*there snake*/
  color: #00000000;
}

.grid-item {
  outline: 1px solid grey;
  width: 25px;
  height: 25px;
}

.is-food {
  background-color: red;
}

.is-head {
  background-color: black;
}
