.container {
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}

.center-space {
  flex-direction: column;
  max-width: 70vw;
  text-align: left;
}

.project-title {
  font-weight: 600;
  font-size: 70px;
  margin: 0;
  margin-bottom: 20px;
}

.project-title-subtext {
  font-size: 1.4vw;
  padding-left: 160px;
  padding-right: 160px;
  line-height: 26px;
  font-weight: lighter;
  color: rgb(110, 110, 110);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.project-space {
  min-width: 75vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 6vh;
}
